/* For mobile phones: */
/* [class*="col-"] znaci da se izaberu sve klase koje sadrze podstring "col-" */
[class*="col-"] {
    width: 100%;
    float: left;
    padding: 15px;
  }

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

* {
    box-sizing: border-box;
    
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#app {
    display: grid;
    grid-template-columns: repeat(7, 45px);
    grid-template-rows: repeat(7, 45px);
    grid-gap: 10px;
}

#app > div{
    /* height: 50px;
    width: 50px; */

    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.prazno {
    background-color: #f5f5f5e3;
}

.polje {
    background-color: #003953;
    /* background-color: #2b86b1; */
}
.figura{
    background: url(./images/pngegg.png) no-repeat;
    background-size: 100% 100%;
    width: 80%;
    height: 80%;
}
[data-x="77"]{
    margin-top: 20px;
    font-family: sans-serif;
    font-size: x-large;
}
.dugmici{
    display: flexbox;
    align-items: center;
    justify-content: center;
}

#pravila-igre {
    display: block;
}